/* 
Body


sumhead

sumtitle


jumbotron-fluid

*/

body {
  background-image: url(../images/SUM1back.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

#sumhead {
  background-image: linear-gradient(
    rgb(0, 0, 0),
    rgb(122, 2, 48),
    rgb(0, 0, 0)
  );
  height: 70px;
}
#sumtitlediv {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.623);
  position: absolute;
  top: 10px;
  left: 30px;
  border: 1px solid rgb(255, 255, 0);
  height: 50px;
  width: 230px;
}

#sumtitle {
  /* font-family: "Fredericka the Great", cursive; */
  /* font-family: "Yatra One", cursive; */
  font-family: "Gruppo", cursive;
  font-size: 40px;
  letter-spacing: 25px;
  background: -webkit-linear-gradient(
    rgb(158, 2, 2),
    rgb(240, 8, 8),
    rgb(247, 243, 43),
    rgb(180, 1, 1),
    rgb(177, 2, 2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 40px;
  width: 250px;
  text-align: center;
  align-self: center;
}

.jumbotron {
  /* opacity: 0.5; */
  /* background-color: rgba(0, 0, 0, 0.479); */
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(156, 1, 1, 0.281),
    rgb(168, 1, 1)
  );
  margin-top: 20px;
  border-radius: 25px;
  padding-left: 40px;
  color: white;
  text-align: right;
  width: 60%;
  position: absolute;
  left: 35%;
}

.btn-primary {
  background-color: rgba(9, 9, 145, 0.589);
  border: 1px solid black;
}
